@using System.Collections;
@{
	var PageName = ViewData["Title"];
	var navLinks = new[]
	{
		new {Name = "OUR COMPANY", Link = "/About"},
		new {Name = "LOCATIONS", Link = "/Locations"},

		new {Name = "CONTACT", Link = "/Contact"},


	}.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="~/assets/favicon-32x32.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Designo ~ @PageName</title>
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</head>
<body class="w-full">

	<header class="w-full bg-white-primary fixed overflow-hidden  z-10">
		<div class="w-[90%] max-w-screen-largeDesktop mx-auto  h-[80px] flex flex-wrap flex-row justify-between items-center ">
			<a class="cursor-pointer" asp-page="/Index">
				<img src="~/assets/shared/desktop/logo-dark.png" alt="logo" class="h-[1.5rem]" />
			</a>

			<div class="nav-list w-full tablet:w-auto h-[100vh] bg-black-primary/40 tablet:h-auto tablet:opacity-100 fixed tablet:relative  top-[80px] left-[-200px] tablet:top-[0] tablet:left-[0]	opacity-0 ">

				<ul class="flex flex-wrap flex-col tablet:flex-row gap-4 tablet:gap-12 py-[30px] px-[20px] tablet:p-[0] body-p text-white-primary tablet:text-black-primary bg-black-primary tablet:bg-white-primary">

					@foreach (var navLink in navLinks)
					{
						<li>
							<a class="sm:hover:underline" asp-page=@navLink.Link>@navLink.Name</a>
						</li>
					}
				</ul>
			</div>

			<div class="text-[30px] cursor-pointer tablet:hidden block">
				<ion-icon name="menu" onclick="Menu(this)"></ion-icon>
			</div>
		</div>
	</header>




	<main class="w-full max-w-screen-largeDesktop tablet:w-[90%] pt-[80px]  mx-auto overflow-hidden">

		@RenderBody()
	</main>









	@*	<main class="w-full">
	<div class="w-full max-w-screen-xl xl:w-[100%] mx-auto pt-[80px] ">

	@RenderBody()



	</div>
	</main>*@




	<footer class="w-full">


		@if (PageName?.ToString() != "Contact")
		{

			<div class="w-[90%] mx-auto max-w-screen-largeDesktop  flex flex-col tablet:flex-row flex-wrap gap-10 items-center justify-between bg-peach-primary/90	 relative top-[140px] z-[4] rounded-[5px] bg-[url('/assets/shared/desktop/bg-pattern-call-to-action.svg')]  bg-no-repeat  bg-cover bg-center py-[2rem] px-[1rem] tablet:p-[4rem]">




				<div class="text-center tablet:text-left tablet:w-[50%] ">
					<h2 class="heading-h2 text-white-primary">Let’s talk about your project</h2>
					<p class="body-p text-white-primary mt-[1.5rem]">Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow.</p>
				</div>


				<div class="text-center tablet:text-right">
					<a class="dark-btn" asp-page="/Contact">GET IN TOUCH</a>

				</div>


			</div>
		}



		<div class="w-full relative z-[2]  bg-black-primary mx-auto overflow-hidden pb-[2rem] ">
			@if (PageName?.ToString() != "Contact")
			{
				<div class="py-[80px]"></div>
			}
			<div class="w-[90%] max-w-screen-largeDesktop mx-auto">

				<div class="w-full flex flex-wrap flex-col tablet:flex-row items-center justify-between  tablet:border-b-2 border-primary-black/40  py-[1rem] ">


					<div class="w-full tablet:w-auto items-center border-b-2 border-primary-black/40 tablet:border-none pb-[1rem]  tablet:p-[0]">
						<a class="cursor-pointer" asp-page="/Index">
							<img src="~/assets/shared/desktop/logo-light.png" alt="logo" class="h-[30px] mx-auto tablet:mx-0" />
						</a>
					</div>

					<ul class="text-white-primary flex flex-wrap flex-col justify-between tablet:flex-row items-center gap-6 body-p text-white-primary mt-[1rem] tablet:m-[0]">
						@foreach (var navLink in navLinks)
						{
							<li>
								<a class="sm:hover:underline" asp-page=@navLink.Link>@navLink.Name</a>
							</li>
						}
					</ul>



				</div>


				<div class="flex flex-col tablet:flex-row justify-between flex-wrap items-center gap-12 tablet:mt-[1rem]">
					<div class="text-center tablet:text-left flex flex-col flex-wrap gap-2">
						<p class="footer-link">Designo Central Office</p>
						<p class="footer-link-p">3886 Wellington Street</p>
						<p class="footer-link-p">Toronto, Ontario M9C 3J5</p>
					</div>
					<div class="text-center tablet:text-left flex flex-col flex-wrap gap-2 ">
						<p class="footer-link">Contact Us (Central Office)</p>
						<p class="footer-link-p">P : +1 253-863-8967</p>
						<p class="footer-link-p">M : contact@designo.co</p>
					</div>

					<div class="flex flex-row justify-between flex-wrap gap-4 tablet:self-end">
						<a href="/">
							<img src="~/assets/shared/desktop/icon-facebook.svg" alt="logo" class="footer-image" />

						</a>
						<a href="/">
							<img src="~/assets/shared/desktop/icon-youtube.svg" alt="logo" class=" footer-image" />

						</a>
						<a href="/">
							<img src="~/assets/shared/desktop/icon-twitter.svg" alt="logo" class=" footer-image" />

						</a>
						<a href="/">
							<img src="~/assets/shared/desktop/icon-pinterest.svg" alt="logo" class="footer-image" />

						</a>
						<a href="/">
							<img src="~/assets/shared/desktop/icon-instagram.svg" alt="logo" class="footer-image" />

						</a>

					</div>

				</div>

			</div>
		</div>
	</footer>




	<script type="text/javascript">
		function Menu(e) {
			let list = document.querySelector('.nav-list');
			e.name === 'menu' ? (e.name = "close", list.classList.add('left-[0]'), list.classList.add('opacity-100')) : (e.name = "menu", list.classList.remove('left-[0]'), list.classList.remove('opacity-100'))
		}
	</script>



	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>