
<div class="w-full tablet:rounded-[5px] overflow-hidden bg-[url('/assets/shared/desktop/bg-pattern-call-to-action.svg')] bg-peach-primary/90 bg-no-repeat bg-cover bg-center py-[3rem]"
>
	<div class="w-[90%] tablet:w-[60%] desktop:w-[50%] mx-auto text-center">
		<h2 class="heading-h2 text-white-primary">@Model.PageInfo.Name</h2>
		<p class="body-p text-white-primary mt-[1rem]">@Model.PageInfo.Description</p>
	</div>
</div>



<div class="w-[90%] tablet:w-full mx-auto mt-[10vh] flex flex-wrap flex-col tablet:flex-row items-center  gap-24  overflow-hidden">



	@foreach (var project in Model.Projects)
	{
		<div class="overflow-hidden w-[320px] desktop:h-[500px] overflow-hidden tablet:w-full desktop:w-[330px] group rounded-[10px] bg-peach-secondary/20 hover:bg-peach-primary cursor-pointer
			grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-1 items-center gap-6">
			<img src=@project.Image class="h-[350px] w-full" />


			<div class="text-center w-[90%] mx-auto  pb-[2rem]">
				<h3 class="heading-h3 text-peach-primary group-hover:text-white-primary mb-[1rem]">@project.Name</h3>
				<p class="body-p text-black-primary group-hover:text-white-primary">@project.Description</p>
			</div>
		</div>
	}


</div>


<div class="w-[90%] tablet:w-full mx-auto mt-[10vh] grid desktop:grid-rows-1 desktop:grid-cols-2 gap-4 ">



		@foreach (var otherPage in Model.Pages)
		{
		<a class="block overflow-hidden  rounded-[5px]  bg-[url('@otherPage.Image')]   bg-no-repeat  bg-cover bg-center object-contain" asp-page="@otherPage.Link">

			<div class="w-full bg-black-primary/50 hover:bg-peach-primary/70 flex flex-col gap-2 justify-center items-center py-[6rem] text-center">
				<h2 class="heading-h2 text-white-primary">@otherPage.Name</h2>
				<p class="body-p text-white-primary">VIEW PROJECTS <span class="text-peach-primary font-medium">></span></p>
			</div>

		</a>
		}





</div>
